[Unit]
Description=Loki Log Aggregator
After=network.target

[Service]
Type=simple
User=USER
ExecStart=FIXME/bin/loki -config.file FIXME/config/loki-binary-config.yaml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target